body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(238, 238, 238);
}
.new-book, .new-book-success{
  position: fixed; 
  display: none;
  z-index: 1; 
  padding-top: 100px; 
  left: 0; top: 0;
  width: 100%; height: 100%; 
  background-color: rgba(0,0,0,0.5); 
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 1200px;
}

.book-card {
  background-color: white;
  padding: 1rem;
  width: 200px;
  height: 300px; /* higher than wide */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

.new-book-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
.new-book-success-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.close, .close-success {
  color: red;
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.new-book-content button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input, select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
